$white:         hsl(0, 0%, 100%);
$blue-smile:    hsl(219, 100%, 62%);
$orange-smile:  hsl(15, 100%, 66%);

$color-main:    $blue-smile;

$colors: (
  white:  $white,
  blue:   $blue-smile,
  orange: $orange-smile
);
