/* ===========================================================
   #TEXT
   =========================================================== */

/* Font variables.
   =========================================================== */

/* Font families */
$font-family-main: 'Raleway', sans-serif;
$font-family-heading:  'Didact Gothic', sans-serif;

/* Font sizes */
$font-size-sm:      1.2rem;
$font-size-md:      1.6rem;
$font-size-xl:      2rem;

/* Line height */
$line-height-sm:    1;
$line-height-md:    1.15;
$line-height-xl:    1.6;

/* Define all the headings font-size */
$font-size-h1:      3.6rem;
$font-size-h2:      2.8rem;
$font-size-h3:      2.4rem;
$font-size-h4:      2rem;
$font-size-h5:      1.8rem;
$font-size-h6:      1.6rem;
