/* ===========================================================
   #GRID
   =========================================================== */

$grid-gutter: 2rem;

/**
 * Basic grid object.
 *
 * By default, the child items are displayed with the row direction, wrapped,
 * and positioned with defualt flex options
 */

.o-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -$grid-gutter / 2;

  > * {
    padding: $grid-gutter /2;
  }
}

/* Gutter variants
   =========================================================== */

.o-grid--no-gutter {
  margin: 0;

  > * {
    padding: 0;
  }
}

.o-grid--gutter-xl {
  margin: -$grid-gutter;

  > * {
    padding: $grid-gutter;
  }
}

/* Position variants
   =========================================================== */

.o-grid--center {
  align-items: center;
  justify-content: center;
}

.o-grid--center-vertically {
  align-items: center;
}

.o-grid--center-horizontally {
  justify-content: center;
}

.o-grid--space-between {
  justify-content: space-between;
}

.o-grid--space-around {
  justify-content: space-around;
}

/* Order variants
   =========================================================== */

/* Avoid element in the grid to wrap */
.o-grid--nowrap {
  flex-wrap: nowrap;
}

/* Reverse item's lit order */
.o-grid--reverse {
  flex-direction: row-reverse;
}

/* Put this on a child item in order to set its place in first position */
.o-grid--item-first {
  order: -1;
}

/* Put this on a child item in order to set its place in last position */
.o-grid--item-last {
  order: 1;
}

/* Item height variants
   =========================================================== */

/* Stretch items vertically in order to give them the same height */
.o-grid--equal-height {
  > * {
    display: flex;
  }
}
