/* ===========================================================
   #VISIBILITY
   =========================================================== */

/*
 * Hide visually and from screen readers.
 * http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/
 */

@mixin hidden() {
  display: none !important;

  visibility: hidden !important;
}

/*
 * Hide only visually, but keep it available for screen readers.
 * @see https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap one word per line:
 *    @see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
@mixin hidden-visually() {
  position: absolute !important;
  width: 0.1rem !important;
  height: 0.1rem !important;
  padding: 0 !important;
  overflow: hidden !important;

  border: 0 !important;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem) !important;
  clip-path: inset(50%) !important;

  white-space: nowrap !important; /* [1] */

  /*
   * Extends .visually-hidden class in order to allow element
   * to be focusable when navigated via keyboard:
   * @see https://www.drupal.org/node/897638
   */
  &.is-focusable {
    &:active,
    &:focus {
      position: static !important;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      overflow: visible !important;

      clip: auto !important;

      white-space: inherit !important;
    }
  }
}

/*
 * Hide text.
 * @see http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
@mixin hidden-text() {
  overflow: hidden !important;

  text-indent: 100% !important;
  white-space: nowrap !important;
}

/*
 * Display visually and for screen readers.
 */
@mixin visible() {
  display: block !important;

  visibility: visible !important;
}
