body {
  margin: 0;
  padding: 0;

  background-color: #3b80ff;

  font-family: "Didact Gothic", sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 0;

  background-color: white;

  color: #3b80ff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;

  &__subtitle {
    display: block;
    height: 5.4rem;

    line-height: 4.9rem;
  }

  &__logo {
    height: 5.4rem;
  }
}

.paragraph {
  font-weight: bold;
  color: purple;
}

.svg {
  color: red;
}
