<head>
    <title>SMILE Front Boilerplate</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.bundle.css %>">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Content-Language" content="fr">
    <meta name="Subject" content="Front boilerplate">
    <meta name="Author" content="Raphaël Grand">
    <meta name="Description" content="Smile Nantes Front Boilerplate">
    <meta name="Identifier-Url" content="http://www.smile.eu">
    <meta name="Geography" content="Nantes, France, 44000">
    <meta name="azerzer" content="module.exports">
</head>
