<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<header class="c-header">
    <h1 class="c-header__title">
        <img class="c-header__logo" src="assets/images/logo2.png" alt=""><span class="c-header__subtitle">Front Boilerplate</span>
    </h1>
</header>
</body>
</html>
