<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<header>
    <h1 class="title">
        <img class="title__logo" src="assets/images/logo2.png" alt=""><span class="title__subtitle">Front Boilerplate</span>
    </h1>
</header>
</body>
</html>
